/* IDs */ 

#text {
	word-spacing: 10pt;  /* space between words in a text */  
}

/* BODY */ 

body {
	font-family: 'Helvetica', 'Montserrat', 'Open Sans', sans-serif;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 3em;
	color: black;
	background-color: white;
}

h1 {
	font-size: 40px;
	font-weight: 800;
}

h2 {
	font-size: 28px;
	font-weight: 800;
}

p {
	font-size: 18px;
	font-weight: 500;

}

a:link {
	text-decoration: none;
	color: black; 
}
a:hover {
	background-color: black;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	font-weight: 700;
	color: white;
}
a:visited {
	color: black;
}

li {
	font-size: 18px;
	font-weight: 500;
	list-style-type: none;
	margin: 0.5em;
	padding: 0.3em;
}

/* FOOTER */ 

footer {
	border-top: thin dotted;
}

